[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-lastplace"]
	path = vim/bundle/vim-lastplace
	url = git://github.com/dietsche/vim-lastplace.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-pico8-syntax"]
	path = vim/bundle/vim-pico8-syntax
	url = https://github.com/justinj/vim-pico8-syntax
[submodule "vim/bundle/vim-pencil"]
	path = vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil
